{{/* Default data */}}
{{ $title := "Certifications" }}
{{ $projects := slice
  (dict "title" "Python Data Structures Certification (2020)" "link" "https://www.coursera.org/account/accomplishments/certificate/22V97GQDWCTP" "source" "University of Michigan(course available on Coursera)" "credentials" "View certificate")
  (dict "title" "C#: classes, interfaces and OOPs (2020)" "link" "" "source" "Udemy" "credentials" "UC-78d92cdf-115d-46ds-b9f5-bec2f37a0c6e"))
  (dict "title" "Infosys Certified Software Programmer (2019)" "link" "" "source" "Infosys Python & SQL certification exam" "credentials" ""))
  (dict "title" "Python Industry Oriented Training (2018)" "link" "" "source" "Webtek Labs Pvt. Ltd., Delhi" "credentials" ""))
    
}}


<h2 class="text-center text-4xl md:text-5xl lg:text-7xl p-5 font-medium font-poppins text-gray-400">
  {{ $title }}
</h2>

<div class="-mx-5 flex flex-wrap text-gray-600 text-center">
  {{ range $projects }}
     <div class="w-full md:w-1/2 lg:w-1/3 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <div>
          <h3 class="mb-4 text-lg font-medium sm:text-xl lg:text-lg xl:text-xl">{{ .title }}</h3>
            <p class="md:pl-10 py-2 text-xl font-light">
              <span><strong>Source:</strong></span>
              {{ .source }}
            </p>
          <p class="md:pl-10 py-2 text-xl font-light">
              <span><strong>Credentials:</strong></span>
              <a href="{{ .link }}" target="_blank" class="text-blue-500 hover:underline">{{ .credentials }}</a>
            </p>
        </div>
      </div>
    </div>
  {{ end }}
</div>
