{{/* Data */}}
{{ $title := "Skills & Service Offerings" }}
{{ $skills := slice
  (dict "title" "Data Analytics & Business Intelligence" "icon" "bx-bar-chart" "text" (slice "Proficient in leveraging R, Python (NumPy, Pandas, SciPy, Seaborn), SQL databases (MySQL, PostgreSQL), NoSQL (MongoDB), and Advanced Excel for data manipulation and analysis." "Expertise includes Statistical modeling, Regression analysis, Descriptive analytics, and A/B testing." "Further experienced with BI tools including Looker, Power BI, and Tableau, with strong knowledge of visual encoding, color theory and data storytelling.")
  (dict "title" "Machine Learning & AI" "icon" "bx-brain" "text" (slice "Proficient in Advanced Python, including expertise in Scikit-Learn, TensorFlow, PySpark, Predictive Modeling, and Regression Analysis." "Well-versed in both supervised and unsupervised learning techniques as well as experienced in Feature Engineering, Model Evaluation, Hyperparameter Tuning, and Model Deployment." "Additionally, adept in Collaborative filtering methods and Bayesian statistics to build and enhance recommendation systems.")
  (dict "title" "Program & Product Management" "icon" "bx-group" "text" (slice "Experienced in applying Agile methodologies (Scrum, Kanban), Product roadmapping, and Organised operations with SLx, using tools like Jira, ServiceNow, and Confluence to streamline processes and improve tracking." "Proficient in data flow diagramming with Miro, Visio, and Draw.io, and prototyping with Figma and AdobeXD to align product vision with stakeholder needs." "Additionally, adept with Microsoft 365, Google Workspace, and Canva for effective communication and collaboration.")
  (dict "title" "Financial & Business Analysis" "icon" "bx-coin-stack" "text" (slice "Expertise in business analysis with experience in requirements elicitation, user story creation, and strategic frameworks including SWOT and RACI." "Additionally, skilled in Financial modelling and analysis with proficiency in ROI analysis, Risk assessment, and Decision Analytics, leveraging Monte Carlo simulations, Time Series forecasting, VaR projections and Sensitivity analysis."))
  (dict "title" "Cloud & DevOps" "icon" "bx-cloud" "text" (slice "Proficient in cloud technologies with experience in leveraging tools such as AirFlow, Spark, and Snowflake for data orchestration and platforms such as Google Cloud Platform (BigQuery, Dataflow) and Azure for building scalable and robust cloud solutions." "Further skilled in version control and CI/CD practices using Git, Jenkins, and Docker to streamline development workflows."))
  (dict "title" "Software & Web Development" "icon" "bx-code" "text" (slice "Experienced in software development, with expertise in Object oriented programming and languages including C++, C#, and JavaScript." "Proficient in building dynamic web applications using HTML and frameworks like .NET MVC, Flask, and Streamlit." "Further skilled with advanced use of Visual Studio Code for efficient development and collaboration, ensuring high-quality and scalable software solutions."))
}}

<h2 class="text-4xl md:text-5xl lg:text-7xl p-5 text-center font-medium font-poppins text-gray-400">
  {{ $title }}
</h2>



<div class="-mx-5 flex flex-wrap text-gray-600 text-center">
  {{ range $skills }}
    <div class="w-full md:w-1/2 lg:w-1/3 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <i class="bx {{ .icon }} text-5xl mx-auto pb-5"></i>
        <div>
          <h3 class="mb-4 text-lg font-medium sm:text-xl lg:text-lg xl:text-xl">{{ .title }}</h3>
          <p class="text-lg font-light">
            {{ .text }}
          </p>
        </div>
      </div>
    </div>
  {{ end }}
</div>


