{{/* Data */}}
{{ $title := "Skills & Service Offerings" }}
{{ $skills := slice
  (dict "title" "Data Analytics" "icon" "bx-bar-chart" "text" (slice "Proficient in leveraging R, Python (NumPy, Pandas, SciPy, Seaborn), and Advanced Excel for data manipulation & analysis." "Expertise includes Statistical modelling, Descriptive analytics, Regression analysis, and A/B testing."))
(dict "title" "Machine Learning & AI" "icon" "bx-brain" "text" (slice "Well-versed in Predictive modelling, Recommendation systems, Supervised, Unsupervised and Deep learning techniques with proficiency in Advance Python (Scikit-Learn, TensorFlow, PySpark) and Bayesian statistics” “Experienced in Feature Engineering, Anomaly detection, Model Evaluation, Hyperparameter Tuning, and Model Deployment."))
(dict "title" "Business Intelligence & Databases" "icon" "bx-bar-chart" "text" (slice "Experienced with BI tools including Looker, Power BI, and Tableau, with strong knowledge of visual encoding, color theory and data storytelling." “Well-versed in SQL databases (MySQL, PostgreSQL) and  NoSQL (MongoDB) databases.”))
(dict "title" "Program & Product Management" "icon" "bx-group" "text" (slice "Experienced in Product roadmapping, Streamlining processes and improve tracking with Agile methodologies (Scrum, Kanban), and Organising operations with SLx . “ “Well versed with tools like Jira, ServiceNow, Notion, and Confluence” ))
(dict "title" "Stakeholder Management" "icon" "bx-group" "text" ("Proficient in data flow diagramming with Miro, Visio, and Draw.io to facilitate both technical & non-technical stakeholder communication" "Additionally, adept with Microsoft 365, Google Workspace, and Slack for effective collaboration."))
  (dict "title" "DevOps & Design" "icon" "bx-cloud" "text" (slice "Skilled in version control and CI/CD practices using Git, Jenkins, and Docker and proficient with Visual Studio Code to streamline development workflows." “Additionally, adept at prototyping with Figma and AdobeXD and designing with Canva.”))
(dict "title" "Financial Analysis" "icon" "bx-coin-stack" "text" (slice "Skilled in ROI analysis, Risk assessment, and Decision Analytics, leveraging Monte Carlo simulations, Time Series forecasting, VaR projections, and Sensitivity analysis."))
(dict "title" "Business Analysis" "icon" "bx-coin-stack" "text" (slice "Expertise in business analysis with experience in Requirements elicitation, User story creation, and strategic frameworks including SWOT and RACI."))
(dict "title" "Cloud Technologies " "icon" "bx-cloud" "text" (slice "Proficient in AirFlow, Spark, and Snowflake for data orchestration and platforms such as Google Cloud Platform (BigQuery, Dataflow) and Azure for building scalable and robust cloud solutions”))
 (dict "title" "Software Development" "icon" "bx-code" "text" (slice "Experienced in software development, with expertise in Object oriented programming and languages including C++ and C#"))
  (dict "title" "Web Development" "icon" "bx-code" "text" (slice "Proficient in building dynamic web applications using HTML, Javascript and frameworks like .NET MVC, Flask, and Streamlit."))
}}


<h2 class="text-4xl md:text-5xl lg:text-7xl p-5 text-center font-medium font-poppins text-gray-400">
  {{ $title }}
</h2>

<div class="-mx-5 flex flex-wrap text-gray-600 text-center">
  {{ range $skills }}
    <div class="w-full md:w-1/2 lg:w-1/3 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <i class="bx {{ .icon }} text-5xl mx-auto pb-5"></i>
        <div>
          <h3 class="mb-4 text-lg font-medium sm:text-xl lg:text-lg xl:text-xl">{{ .title }}</h3>
          {{ range .text }}
            <p class="md:pl-10 py-2 text-xl font-light">
              {{ . }}
            </p>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</div>


