{{/* Data */}}
{{ $title := "Skills & Service Offerings" }}
{{ $skills := slice
(dict "title" "Machine Learning & AI" "icon" "bx-brain" "text" (slice "Well-versed in Predictive modelling, Recommendation systems, Supervised, Unsupervised and Deep learning techniques with proficiency in Bayesian statistics and Advance Python (Scikit-Learn, TensorFlow, Keras, PySpark)."))
(dict "title" "Data Analytics" "icon" "bx-analyse" "text" (slice "Proficient in leveraging R, Python (NumPy, Pandas, SciPy, Seaborn), and Advanced Excel for data analysis." "Expertise includes Statistical modeling, Regression analysis, Descriptive analytics, and A/B testing."))
(dict "title" "Databases & Business Intelligence" "icon" "bx-bar-chart" "text" (slice "Well-versed in MySQL, PostgreSQL, and  NoSQL (MongoDB) databases." "Experienced with BI tools including Looker, Power BI, and Tableau, with strong knowledge of visual encoding, color theory, and data storytelling."))

(dict "title" "Program & Product Management" "icon" "bx-task" "text" (slice "Experienced in Product Roadmapping, Requirement Elicitation, Streamlining processes and improve tracking with Agile methodologies (Scrum, Kanban), and Organising operations with SLx." "Well-versed with tools like Jira, ServiceNow, Notion, and Confluence."))  
(dict "title" "Stakeholder Management" "icon" "bx-group" "text" (slice "Proficient in data flow diagramming with Miro, Visio, and Draw.io to facilitate both technical & non-technical stakeholder communication." "Additionally, adept with Microsoft 365, Google Workspace, and Slack for effective collaboration."))
(dict "title" "Financial & Business Analysis" "icon" "bx-coin-stack" "text" (slice "Skilled in Financial Modelling, ROI analysis, Risk assessment, and Decision Analytics, leveraging Monte Carlo simulations, Time Series forecasting, and Sensitivity analysis." "Additionally, experienced with strategic frameworks including SWOT and RACI."))

(dict "title" "Cloud Technologies" "icon" "bx-cloud" "text" (slice "Proficient in AirFlow, Spark, and Snowflake for data orchestration and platforms such as Google Cloud Platform (BigQuery, Dataflow) and Azure for building scalable and robust cloud data solutions."))  
(dict "title" "Software Development & DevOps" "icon" "bx-code" "text" (slice "Experienced in Object oriented programming and languages including C++ and C#" "Additionally, proficient with Visual Studio, version control and CI/CD practices using Git, Jenkins, and Docker."))
(dict "title" " Web Development & Design" "icon" "bx-devices" "text" (slice "Proficient in building dynamic web applications using HTML, Javascript, and frameworks like .NET MVC, Flask, and Streamlit." "Additionally, adept at prototyping with Figma and AdobeXD and designing with Canva."))

}}

<h2 class="text-4xl md:text-5xl lg:text-7xl p-5 text-center font-medium font-poppins text-gray-400">
  {{ $title }}
</h2>

<div class="-mx-5 flex flex-wrap text-gray-600 text-center">
  {{ range $skills }}
    <div class="w-full md:w-1/2 lg:w-1/3 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <i class="bx {{ .icon }} text-5xl mx-auto pb-5"></i>
        <div>
          <h3 class="mb-4 text-lg font-medium sm:text-xl lg:text-lg xl:text-xl">{{ .title }}</h3>
          {{ range .text }}
            <p class="text-lg font-light">
              {{ . }}
            </p>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</div>


