{{/* Default data */}}
{{ $title := "What people say" }}
{{ $testimonials := slice
  (dict "name" "Rakia LAHOUAR" "role" "Technical Business Analyst: CRM & DATA" "at" "@ Davidson Consulting Group, France" "text" "Vanshika is a very hard-working person who can tackle any problem with ease. We have worked together on several projects, and I found her a highly skilled and dedicated professional. She’s also an all-around great person to work with! I highly recommend her!" "link" "https://www.linkedin.com/in/rakia-lahouar-77626281/")
  (dict "name" "Matteo ZACCAGNINI" "role" "IT Project Management Specialist" "at" "@ L'Oréal, Italy" "text" "Vanshika is a really great professional in terms of technical knowledge and absolutely reliable. She also combines this with a very human and understanding approach. She is truly a pleasure to work with!" "link" "https://www.linkedin.com/in/matteo-zaccagnini/")
  (dict "name" "Rebekah McMANUS" "role" "Digital Marketer" "at" "@ L'Oréal, UK" "text" "Working with Vanshika has been a pleasure. She is great at communicating and always points us in the right direction when we need it. Her attention to detail has certainly improved the efficiency within the team." "link" "https://www.linkedin.com/in/rebekah-mcmanus-4302421a0/")
  (dict "name" "Pierre JACOB" "role" "Statistics Professor" "at" "@ Essec Business School, France" "text" "Vanshika is a bright and dedicated student who demonstrated a deep understanding of the Forecasting subject matter. She demonstrated meticulous attention to detail and strong problem-solving skills, adding great value to her project. I don't doubt that her diligence and commitment to delivering exceptional results will continue to shape her future successes." "link" "https://www.linkedin.com/in/pierre-jacob-b84930226/")
  (dict "name" "Aayush JAIN" "role" "Senior Software Development Engineer" "at" "@ Swiggy, India" "text" "Vanshika's proactive attitude and resilience stood out for me as her personal mentor. She faced challenges with grace and turned them into opportunities for learning and self-improvement. Her passion, intellect, and genuine kindness make her a valuable asset to any team. Moreover, her truly contagious energy brings a refreshing perspective to any situation." "link" "https://www.linkedin.com/in/aayush-jain-36631a118/")
  (dict "name" "Sam CROSSMAN" "role" "Chief Digital Officer - Travel Retail Worldwide" "at" "@ L'Oréal, UK" "text" "Vanshika is a bright star for the future! She performed excellently at a Hackathon L’Oreal hosted so it was great news that she decided to join us here to kick off her career!" "link" "https://www.linkedin.com/in/samcrossman/")
}}


<h2 class="text-center pb-5 text-4xl md:text-5xl lg:text-7xl font-medium font-poppins text-gray-400">
  {{ $title }}
</h2>
<div class="-mx-5 flex flex-wrap py-5 text-gray-600">
  {{ range $testimonials }}
    <div class="w-full md:w-1/2 lg:w-1/3 px-5">
      <div class="mb-9 rounded-xl p-7 sm:p-9 lg:px-6 xl:px-9 bg-gray-50">
        <div>
          <p class="text-lg font-light">
            {{ .text }}
          </p>
          <div class="text-md mt-5 font-medium text-right">{{ .name }}</div>
          <div class="text-base text-gray-400 font-light text-right">{{ .role }}</div>
          <div class="text-base text-gray-400 font-light text-right">{{ .at }}</div>
          <div class="text-right mt-3 flex justify-end items-center">
          <a class="text-right" href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline flex items-center">
            <i class='bx bxl-linkedin-square text-xl'></i> <!-- LinkedIn icon -->
            <span class="ml-1">LinkedIn</span>
          </a>
        </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
