{{ define "main" }}
<!-- Title section -->
  <div class="container max-w-screen-xl mx-auto px-4">
    {{ if eq .Kind "term" }}
      <h1 class="text-center font-medium text-gray-700 text-3xl md:text-4xl mb-5 font-poppins">{{ .Title | title }} Projects</h1>
    {{ end }}
    
<!-- Tag section -->
    {{ if ne .Kind "term" }}
    <div style="margin-bottom: 2rem;">
      {{ $relevantTags := slice 
        "Business Intelligence" 
        "Data Analysis" 
        "Ensemble Learning" 
        "Financial Analysis" 
        "Game Analytics" 
        "Healthcare Analytics" 
        "Machine Learning" 
        "Reinforcement Learning" 
        "Web Development" }}
      
      <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; margin-bottom: 20px;">
        {{ range $uniqueTags }}
          {{ $href := print (absURL "tags/") (urlize .) }}
          <a href="{{ $href }}" 
             style="padding: 5px 15px; 
                    background-color: white; 
                    border-radius: 6px; 
                    color: #3b82f6; 
                    text-decoration: none;
                    border: 1px solid #e5e7eb;
                    font-size: 0.875rem;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                    transition: all 0.2s ease;">
            {{ . }}
          </a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    
<!--     grid section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {{ $posts := .Pages.ByPublishDate.Reverse }}
      {{ $paginator := .Paginate $posts 10 }}
      {{ range $paginator.Pages }}
        <div class="bg-gray-50 px-8 py-10 rounded-md">
          <a href="{{ .RelPermalink }}">
            <img
              class="rounded-md mb-4"
              style="width: 100%; max-height: 200px; object-fit: cover; object-position: center;"
              src="{{ .RelPermalink }}/{{ .Params.image }}"
              alt="{{ .Title }}"
              title="{{ .Title }}" />
          </a>
          <div class="relative">
            <a href="{{ .RelPermalink }}">
              <h2 class="font-medium text-gray-700 text-xl relative z-10 text-center">{{ .Title }}</h2>
            </a>
          </div>
          {{ partial "partials/project_portfolio/meta.html" . }}
          <div class="post-card">
            {{ .Summary | safeHTML }}
            <div class="block text-right mt-4 font-light text-lg">
              <a href="{{ .RelPermalink }}" class="text-blue-500">Read more...</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    {{ partial "partials/pagination.html" . }}
  </div>
{{ end }}
